html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("bg.png");
    background-size: 100% 100%;
}

h4 {
    font-family: 'Century Schoolbook';
    text-align: center;
    font-size: xx-large;
    margin: 0px;
}

p {
    font-family: 'Times New Roman';
    font-size: 30px;
    text-align: left;
    color: black;
    margin: 10px
}

p1 {
    font-family: 'Times New Roman';
    font-size: 16px;
    margin-top: 0px;
    text-align: left;
    color: black;
    margin: 10px 50px;
}

p2 {
    font-family: 'Times New Roman';
    font-size: 30px;
    text-align: left;
    color: black;
    margin: 10px;
}


table {
    font-family: 'Century Schoolbook';
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
}

td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: #d7e3fc;
}

th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: lightpink;
}

.alien-bg {
    background-color: #c1d3fe;
}

.LOA-image {
    height: 100px;
    width: 100px;
    float: left;
    border: 1px dotted black;
    background-image: url('LOA_LOGO.png');
    background-size: 100% 100%;
    margin: 8px 100px 190px 350px;
}

.CSS-image {
    height: 100px;
    width: 100px;
    float: right;
    border: 1px dotted black;
    background-image: url('CCS_LOGO.png');
    background-size: 100% 100%;
    margin-right:250px;
}