@{
    ViewData["Title"] = "Home Page";
}


<img src="~/css/anni.jpeg" alt="Trulli">


<div class="text-center">

    <h> ANNIELYN L.ESPINAS</h>
    <h2>Bachelor of Science in Information Technology</h2>
    <h3>BSIT32E3</h3>
    <p> enjoy visitng</p>
</div>